@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

.chip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    margin: 0px 8px 12px 0px;

    background: #FFF5E6;
    border: 1px solid #ED7D1A;
    box-sizing: border-box;
    border-radius: 14px;

}

.chip-text{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #241500;
}